>> this ist the parameter file for Pocketsphinx - use format '-keyword' 'parameter' '<type>' and '>>' for comments
>> each parameter must be a new line

-logfn Data/Log <string>
-vad_threshold 3.0 <float>

>> -beam 1e-60 <float>
>> -wbeam 1e-40 <float>
>> -silprob 0.1 <float>
>> -wip 0.2 <float>
>> -uw 0.7 <float>