#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ILA
Comment=ILA - teachable, customizable, open voice assistant
Exec=/home/hersche/Downloads/ILA_Beta_v3.8_own/START_Debug.sh
Terminal=false
Type=Application
Icon=/home/hersche/Downloads/ILA_Beta_v3.8_own/Assets/ILA.png
