>>This file determines the default programs used to open apps and (files in this folder) and custom files (files anywhere on the PC)
>>the format is as follows: 	OS: extension=program, 	e.g.: 	Windows: txt=notepad.exe
>>anything not on this list will be called with the default parameters "explorer" (Win), "open" (Mac), "xdg-open" (Linux and other)
>>note: to be able to run an app as a process and thus be able to close it with a voice command you will need to specify a program
>>if this program is not known by your OS you might have to use full path to the .exe (or whatever) file

Windows: txt=notepad.exe
>>
>>Example: music with VLC player - to use this check path and remove comment '>>'
>>Windows: xspf=C:\Program Files\VideoLAN\VLC\vlc.exe
>>Windows: mp3=C:\Program Files\VideoLAN\VLC\vlc.exe
>>
>>Windows executables must be called without parameter to get the process - permission exception might happen when admin required
Windows: exe=
>>
>>Java:
Windows: jar=java -jar
Mac: jar=java -jar
Linux: jar=java -jar
Linux: mp3=/usr/bin/vlc
Linux: flac=/usr/bin/vlc
Linux: txt=/usr/bin/kate
